{% extends 'base.html' %}
{% block title%} search results {%endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{%block body %}

<div class="container">
  <h1>Search Results - </h1>
  {% if post|length < 1 %}
  <p>No search results</p>
    Your search query : <b>{{search}}</b> did not match any documents. <br>
    Suggestions:

    <ul>
      <li>Make sure that all words are spelled correctly.</li>
      <li>Try more general keywords.</li>
     <li> Try fewer keywords.</li>
     <li> Try different keywords.</li>
      </li>
      </ul>
  
  {% endif %}
</div>
  <center>
  {% for i in post %}
<div class="container">
    
  
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <img src="/media/{{i.thumbnail}}" width="400" height="250" alt="" class="src">
  <div class="col p-4 d-flex flex-column position-static">
    
    
    <h3 class="mb-0">{{i.title}}</h3>
    <div class="mb-1 text-muted">By {{i.author}} on {{i.punlish_date}}</div>
    <h5 class="mb-0">{{i.heading}}</h5>
    <p class="card-text mb-auto">{{i.content|safe|slice:"0:80"}}...</p><div class="my-2">
    <a href="/blog/{{i.slug}}" role="button" class="btn btn btn-primary">Continue reading</a></div>
  </div>

    
  
</div>
{% endfor %}
</div>
</center>

{% endblock body%}