{% extends 'base.html' %}
{% block title%} Blogposts {%endblock title %}
{%block body %}
{% load static %}
{% load humanize %}
{% load extras %}
{% block js%}

{% endblock js %}
<center>
  <div class="container">

    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <img src="/media/{{post.thumbnail}}" width="400" height="250" alt="" class="src">
      <div class="col p-4 d-flex flex-column position-static">


        <h3 class="mb-0">{{post.title}}</h3>
        <div class="mb-1 text-muted">By {{post.author}} on {{post.punlish_date}}  (<span >{{post.views}} views</span>)</div>
        <h5 class="mb-0">{{post.heading}}</h5>
      
        <p class="card-text mb-auto">{{post.content|safe}}</p>
        <div class="my-2">
        </div>



      </div>
    </div>
  </div>

</center>
<!-- comment  -->
<div class="container">

  <h2>comments ({{comments.count}})</h2>
  <div class="my-2">
    {% if user.is_authenticated %}
    <form action="/blog/postcomment" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Post Comment</label>
        <input type="text" class="form-control" name="comment" placeholder="Enter comment here">


      </div>
      <input type="hidden" name="postSno" value="{{post.sno}}">
      <input type="hidden" name="parentSno" value="">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <h6>Please login to post a comment </h6>

    {% endif %}
  </div>
  {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1  ">
      
      <img class="rounded mx-auto d-block w-100 p-2 img-fluid" src="/static/img/user.png" alt="user">
    </div>
    <div class="col-md-11 ">
      <b> {{comment.user.username}} </b><span class="badge bg-secondary">{{comment.timestamp | naturaltime}}</span>
      <div> {{comment.comment}} </div>
      <div class="reply mx-0">
        {% if user.is_authenticated %}
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#replybox{{comment.sno}}" aria-expanded="false" aria-controls="replybox{{comment.sno}}">
          Reply
        </button>


        <div class="collapse" id="replybox{{comment.sno}}">
          <div class="card card-body my-2">
            <form action="/blog/postcomment" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="comment" class="form-label">Post a reply</label>
                <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                <input type="hidden" name="parentSno" value="{{comment.sno}}">

              </div>
              <input type="hidden" name="postSno" value="{{post.sno}}">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        {% else %}
        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#replybox{{comment.sno}}" disabled aria-expanded="false"
          aria-controls="replybox{{comment.sno}}">
          Login to Reply
        </button>

        {% endif%}
        <div class="replies my-2">
          {% for reply in replydic|get_val:comment.sno%}
          <div class="row my-2">
            <div class="col-md-1  ">
              {% load static %}
              <img class="rounded mx-auto d-block w-60 p-2 img-fluid" src="/static/img/user.png" alt="user">
            </div>
            <div class="col-md-11">
              
              <b> {{reply.user.username}} </b><span class="badge bg-secondary">{{reply.timestamp | naturaltime}}</span>
      <div> {{reply.comment}} </div>
            </div>
            
            <br>
          </div>
          
          <br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endblock body%}